.idea/
.vscode/
.DS_Store

# S3Go Local Configuration
connections.json
s3go.db
.env
.env.*
!.env.example

# Go Build Binaries & Tests
s3go
s3go.exe
main
*.test

# Local Development Directories
tmp/
local_gocache/
local_gopath/
.gocache/
